.chara_bg {
    width: 100%;
    background: #12110f;
    display: block;
    margin-top: 35px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
    height: 100%;
}
.character_profile {
    width: 100%;
    text-align: center;
}
.char_image img {
    height: 550px;
    object-fit: cover;
    /* width: 100%; */
}
.share_wishlist_main img {
    height: 44px;
}
.share_wishlist_main {
    margin-top: -60px;
    margin-left: 45px;
}
.char_info h3 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 0;
    margin-top: -9px;
}
.char_info p {
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-align: left;
    margin-bottom: 0;
}
.char_info ul {
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 0;
}
.char_info ul li {
    list-style-type: none;
    text-align: left;
    /* margin-right: 50px; */
    margin-right: 30px;
}
.char_info ul li h4 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.character_info {
    padding-top: 35px;
}
.char_info.right_info h5 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.char_pro_name img {
    width: 45px;
    height: 45px;
    border: solid 1px #fff;
    border-radius: 100px;
    margin-left: 10px;
}
.char_info.right_info .for_right {
    justify-content: right;
}
button.tc_btn {
    padding: 6px 10px 6px 10px;
    border-radius: 3px;
    border: solid 1px #45b26c;
    background: transparent;
    color: #45b26c;
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
button.tc_btn img {
    height: 30px;
    margin-right: 5px;
}
.modal-content.confirm_seletion.bough_fight_main_tops {
    width: 480px;
    margin: auto;
}
.biding_buy_area .for_selectbox a.btn_bg_hk {
    background: transparent;
    width: 127px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
    position: relative;
    z-index: 99999;
}
.biding_buy_area .for_selectbox {
    width: 127px;
    height: 44px;
}
.biding_buy_area {
    margin-left: 20px;
}
.char_pro_name {
    margin-bottom: 50px;
}
.biding_buy_area a.btn_bg_hk.selected {
    width: 137px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.biding_buy_area .for_selectbox:before {
    left: -12px;
    height: 27px;
    top: 31px;
    transform: rotate(48deg);
}
.biding_buy_area .for_selectbox:after {
    right: -71px;
    height: 31px;
    top: 64px;
    transform: rotate(53deg);
}
hr.char_line {
    opacity: 0.12;
    border: solid 1px #fff;
    width: 97%;
    display: block;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}
.details_char {
    text-align: left;
}
.details_char h6 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.details_char p {
    font-family: 'FuturaLT-Condensed';
    font-size: 17px;
    font-weight: normal;
    color: white;
}
.detail_profile .char_pro_name h5 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.detail_profile .char_pro_name p {
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin-bottom: 0;
}
.detail_profile .char_pro_name {
    margin-bottom: 0;
}
.detail_profile {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-top: 30px;
}
.detail_profile .char_pro_name img{
    margin-left: 0;
    margin-right: 10px;
}
.alpha h4 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
}
h4.d-flex.skills_char_number {
    display: flex !important;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.alpha img {
    margin-right: 15px;
}
.attr_skills .skillbar {
    height: 10px !important;
    background: rgba(69, 171, 178, 0.4) !important;
    border-radius: 10px !important;
}
.skillbar-title {
    display: none;
}
.char_attributes {
    margin-bottom: 30px;
}
.content_for.first h3 {
    margin-bottom: 0;
}
.content_for.first {
    display: block;
    text-align: left;
}
.alpha.width_full {
    width: 100%;
    padding-top: 9px;
}
.skillbar-bar {
    border-radius: 10px !important;
    background-color: #45abb2 !important;
    left: 0 !important;
}
.char_info.right_info p {
    text-align: right;
}
.attr_skills.blue .skillbar {
    background-color: rgba(63, 52, 123, 0.5) !important;
}
.attr_skills.blue .skillbar .skillbar-bar {
    background-color: #3f347b !important;
}
.attr_skills.brown_light .skillbar {
    background-color: rgba(178, 69, 76, 0.4) !important;
}
.attr_skills.brown_light .skillbar .skillbar-bar {
    background-color: #b2454c !important;
}
.attr_skills.brown .skillbar {
    background-color: rgba(69, 178, 108, 0.4) !important;
}
.attr_skills.brown .skillbar .skillbar-bar {
    background-color: #45b26c !important;
}
.attr_skills.yellow .skillbar {
    background-color: rgba(178, 174, 69, 0.4) !important;
}
.attr_skills.yellow .skillbar .skillbar-bar {
    background-color: #b2ae45 !important;
}
.char_parents_card .full_box.slider {
    margin: 0 !important;
}
.char_parents_card {
    width: 100%;
}
.bough_fight_main .custom_bg {
    height: auto;
    padding-bottom: 14px;
    padding-top: 30px;
    padding-left: 40px;
}
.bough_fight_main .custom_bg .fight_bought h3 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 0;
}
.bough_fight_main .custom_bg .fight_bought p {
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.hk_bought_line:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    width: 1px;
    height: 117px;
    opacity: 0.12;
    border: solid 1px #fff;
}
.hk_bought_line {
    position: relative;
}
.fight_bought {
    margin-bottom: 35px;
}
.bough_fight_main_tops button.hk_continue {
    width: 127px;
    padding: 0;
}
img.bid_person {
    height: 138px;
    width: 100%;
    object-fit: contain;
}
.modal-content.confirm_seletion.place_a_bid {
    width: 385px;
    margin: auto;
}
.placing_bid .top_part {
    width: 124px;
    margin: auto;
    margin-bottom: 20px;
}
.placing_bid .tournament_drops {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.placing_bid .tournament_drops .for_selectbox {
    width: 100%;
    height: 54px;
}
.placing_bid .tournament_drops .for_selectbox input {
    width: 100%;
    height: 54px;
    padding-left: 42px !important;
}
.placing_bid .tournament_drops .for_selectbox:before {
    left: -10px;
    height: 53px;
    width: 70px;
    top: 15px;
    transform: rotate(64deg);
}
.placing_bid .tournament_drops .for_selectbox:after {
    right: -35px;
    height: 48px;
    width: 85px;
    top: 59px;
    transform: rotate(69deg);
}
.splash_content h4 {
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    color: white;
}
.splash_content img {
    height: 15px;
    position: relative;
    top: -2px;
    left: -1px;
}
.splash_content p {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 16px;
    font-weight: bold;
    color: #45b26c !important;
    margin-bottom: 0;
}
.splash_content p span {
    font-family: 'FuturaLT-Condensed';
    font-size: 10px;
    color: #908e93;
    font-weight: normal;
}
.splash {
    display: flex;
    justify-content: space-between;
}
.place_a_bid .select_abilites.modal-footer {
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 76%;
}
.modal-content.confirm_seletion.bough_fight_main_tops .select_abilites.modal-footer {
    width: 73%;
}
.profile_content_bg {
    width: 100%;
    height: 260px;
    background-color: #1c1721;
    margin-top: 33px;
    display: flex;
    align-items: center;
}
.profile_content_bg .profile_flex_inner img {
    height: 75px;
    object-fit: cover;
    border-radius: 100px;
    border: solid 1px #fff;
    margin-right: 15px;
}
.profile_content_bg .profile_flex {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}
.profile_flex_inner h3 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.profile_flex_inner p {
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-bottom: 0;
}
.profile_flex_inner span i {
    font-size: 15px;
    margin-left: 7px;
}
.profile_flex.prof_right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: 8px;
}
.profile_flex.prof_right span {
    font-family: 'FuturaLT-Condensed';
    font-size: 16px;
    font-weight: normal;
    color: white;
}
.profile_flex.prof_right span i {
    font-size: 17px;
    margin-right: 5px;
}
.profile_numbers {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-top: 30px;
}
.profile_numbers h4 {
    font-family: 'FuturaLT-CondensedBold';
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 50px;
}
.profile_numbers h4 span {
    display: block;
    font-family: 'FuturaLT-Condensed';
    font-size: 14px;
    font-weight: normal;
}

.tournament_drops.forchar_prof .for_selectbox {
    width: 263px;
    background: transparent;
    height: 51px;
}
.tournament_drops.forchar_prof .for_selectbox input {
    background: transparent;
    border: none;
    color: white;
    font-family: 'FuturaLT-Condensed';
    font-size: 18px;
    font-weight: normal;
    height: 51px;
    padding-left: 39px !important;
    padding-right: 39px;
}
.tournament_drops.forchar_prof .for_selectbox input::placeholder {
    color: white;
}
.tournament_drops.forchar_prof .for_selectbox:before {
    left: -19px;
    height: 43px;
    width: 108px;
    top: 35px;
    transform: rotate(63deg);
}
.tournament_drops.forchar_prof .for_selectbox:after {
    right: -54px;
    height: 40px;
    width: 106px;
    top: 69px;
    transform: rotate(69deg);
}
.details_char ul#pills-tab li.nav-item a.nav-link.active {
    background: transparent;
    border-bottom: 2px solid #45b26c;
    border-radius: 0;
}
.details_char ul#pills-tab li.nav-item a.nav-link {
    color: white;
    font-family: 'FuturaLT-Condensed';
    font-size: 20px;
    font-weight: normal;
}
.details_char ul#pills-tab li.nav-item {
    margin-right: 20px;
}
.chara_profile_details hr.char_line {
    width: 100%;
    display: block;
    margin: 12px 0px;
    margin-top: -2px;
}
.chara_profile_details .full_box.slider {
    margin: 0;
}
.character_profile_info {
    overflow: hidden;
}
.tab-pane a {
    text-decoration: none !important;
}

.character_details2 .biding_buy_area a.btn_bg_hk.selected{
    width: 180px;
}
.char2_page .tournament_drops select{
    width: 90%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.skillbar-percent{
    color: white !important;
}
button.tc_btn:hover {
    background: #3f347b;
    border-color: #3f347b;
    color: white;
}
.modal.only_for_char_det.thiss.show {
    overflow: hidden;
}
.char2_page select {
    width: 100% !important;
}
.share_wishlist_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.share_wishlist_main a{
    /* padding: 13px 11px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 0.5s; */
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share_wishlist_main a:nth-child(1){
    margin-right:10px;
}
.share_wishlist_main a img{
    width: 20px;
    height: auto;
}
.share_wishlist_main a:hover {
    background: #4f3ac2;
    transition: 0.5s;
}

.select_abilites.modal-footer.priceinfo.res_px_modal_footer {
    width: 96%;
}

.profile_flex a:hover{
    text-decoration: none;
}
button.btn.btn_bg_hk.hk_continue.confirm {
    height: 46px;
}
.pb_5_px{
    padding-top: 5px;
}
.modal.fade.hk_modal_for_select.bd-example-modal-lg.only_for_char_det {
    z-index: 9999999;
}
.empty_area{
    background-image: url(../../../assets/img/empty.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.empty_area img {
    height: 212px;
}
.empty_area h3 {
    font-family: 'FuturaLT-Condensed';
    font-size: 30px;
    font-weight: normal;
    color: white;
    margin-bottom: 0;
    padding: 35px 0px;
}
.empty_area a.btn.btn_bg_hk {
    width: 20%;
}